# Ignorar archivos generados
bin/
obj/
.vs/
*.user
*.suo

# Ignorar TODOS los Web.config excepto:
**/Web.config
!/ProyectoAeropuerto/Views/Web.config
!/ProyectoAeropuerto/Areas/HelpPage/Views/Web.config
