USE [ProyectoSQL]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 30/3/2025 17:33:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Aeropuertoes]    Script Date: 30/3/2025 17:33:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aeropuertoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Aeropuertoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Asientoes]    Script Date: 30/3/2025 17:33:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asientoes](
	[AsientoId] [int] IDENTITY(1,1) NOT NULL,
	[Clase] [nvarchar](max) NULL,
	[NumeroAsiento] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Asientoes] PRIMARY KEY CLUSTERED 
(
	[AsientoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Avions]    Script Date: 30/3/2025 17:33:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Avions](
	[AvionId] [int] IDENTITY(1,1) NOT NULL,
	[Capacidad] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Avions] PRIMARY KEY CLUSTERED 
(
	[AvionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Boletoes]    Script Date: 30/3/2025 17:33:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Boletoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Pago] [float] NOT NULL,
	[Asiento_AsientoId] [int] NULL,
	[Pasajero_PasajeroId] [int] NULL,
	[Vuelo_VueloId] [int] NULL,
 CONSTRAINT [PK_dbo.Boletoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facturacions]    Script Date: 30/3/2025 17:33:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturacions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha_de_Factura] [datetime] NOT NULL,
	[Boleto_Id] [int] NULL,
	[MetodoDePago_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Facturacions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MetodoDePagoes]    Script Date: 30/3/2025 17:33:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetodoDePagoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Metodo_Pago] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.MetodoDePagoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pasajeroes]    Script Date: 30/3/2025 17:33:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pasajeroes](
	[PasajeroId] [int] IDENTITY(1,1) NOT NULL,
	[NumeroPasajeros] [nvarchar](max) NULL,
	[NumeroMaletas] [int] NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[Apellido] [nvarchar](max) NULL,
	[Edad] [int] NOT NULL,
	[Correo] [nvarchar](max) NULL,
	[Direcciones] [nvarchar](max) NULL,
	[Identidad] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Pasajeroes] PRIMARY KEY CLUSTERED 
(
	[PasajeroId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pilotoes]    Script Date: 30/3/2025 17:33:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pilotoes](
	[PilotoId] [int] IDENTITY(1,1) NOT NULL,
	[AerolineaAsignada] [nvarchar](max) NULL,
	[AniosdeExperiencia] [int] NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[Apellido] [nvarchar](max) NULL,
	[Edad] [int] NOT NULL,
	[Correo] [nvarchar](max) NULL,
	[Direcciones] [nvarchar](max) NULL,
	[Identidad] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Pilotoes] PRIMARY KEY CLUSTERED 
(
	[PilotoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Puerta_Abordaje]    Script Date: 30/3/2025 17:33:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Puerta_Abordaje](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Aerolinea] [nvarchar](max) NULL,
	[Terminales_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Puerta_Abordaje] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Terminales]    Script Date: 30/3/2025 17:33:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Terminales](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Area] [nvarchar](max) NULL,
	[Aeropuerto_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Terminales] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tripulacions]    Script Date: 30/3/2025 17:33:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tripulacions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Cargo] [nvarchar](max) NULL,
	[Nombre] [nvarchar](max) NULL,
	[Apellido] [nvarchar](max) NULL,
	[Edad] [int] NOT NULL,
	[Correo] [nvarchar](max) NULL,
	[Direcciones] [nvarchar](max) NULL,
	[Identidad] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Tripulacions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vueloes]    Script Date: 30/3/2025 17:33:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vueloes](
	[VueloId] [int] IDENTITY(1,1) NOT NULL,
	[Fecha_salida] [datetime] NOT NULL,
	[Fecha_Llegada] [datetime] NOT NULL,
	[Precio] [float] NOT NULL,
	[Avion_AvionId] [int] NULL,
	[Piloto_PilotoId] [int] NULL,
	[Puerta_Abordaje_Id] [int] NULL,
	[Tripulacion_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Vueloes] PRIMARY KEY CLUSTERED 
(
	[VueloId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Asientoes] ON 

INSERT [dbo].[Asientoes] ([AsientoId], [Clase], [NumeroAsiento]) VALUES (1, N'VIP', N'C7')
SET IDENTITY_INSERT [dbo].[Asientoes] OFF
GO
SET IDENTITY_INSERT [dbo].[Avions] ON 

INSERT [dbo].[Avions] ([AvionId], [Capacidad]) VALUES (1, 100)
SET IDENTITY_INSERT [dbo].[Avions] OFF
GO
ALTER TABLE [dbo].[Boletoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Boletoes_dbo.Asientoes_Asiento_AsientoId] FOREIGN KEY([Asiento_AsientoId])
REFERENCES [dbo].[Asientoes] ([AsientoId])
GO
ALTER TABLE [dbo].[Boletoes] CHECK CONSTRAINT [FK_dbo.Boletoes_dbo.Asientoes_Asiento_AsientoId]
GO
ALTER TABLE [dbo].[Boletoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Boletoes_dbo.Pasajeroes_Pasajero_PasajeroId] FOREIGN KEY([Pasajero_PasajeroId])
REFERENCES [dbo].[Pasajeroes] ([PasajeroId])
GO
ALTER TABLE [dbo].[Boletoes] CHECK CONSTRAINT [FK_dbo.Boletoes_dbo.Pasajeroes_Pasajero_PasajeroId]
GO
ALTER TABLE [dbo].[Boletoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Boletoes_dbo.Vueloes_Vuelo_VueloId] FOREIGN KEY([Vuelo_VueloId])
REFERENCES [dbo].[Vueloes] ([VueloId])
GO
ALTER TABLE [dbo].[Boletoes] CHECK CONSTRAINT [FK_dbo.Boletoes_dbo.Vueloes_Vuelo_VueloId]
GO
ALTER TABLE [dbo].[Facturacions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Facturacions_dbo.Boletoes_Boleto_Id] FOREIGN KEY([Boleto_Id])
REFERENCES [dbo].[Boletoes] ([Id])
GO
ALTER TABLE [dbo].[Facturacions] CHECK CONSTRAINT [FK_dbo.Facturacions_dbo.Boletoes_Boleto_Id]
GO
ALTER TABLE [dbo].[Facturacions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Facturacions_dbo.MetodoDePagoes_MetodoDePago_Id] FOREIGN KEY([MetodoDePago_Id])
REFERENCES [dbo].[MetodoDePagoes] ([Id])
GO
ALTER TABLE [dbo].[Facturacions] CHECK CONSTRAINT [FK_dbo.Facturacions_dbo.MetodoDePagoes_MetodoDePago_Id]
GO
ALTER TABLE [dbo].[Puerta_Abordaje]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Puerta_Abordaje_dbo.Terminales_Terminales_Id] FOREIGN KEY([Terminales_Id])
REFERENCES [dbo].[Terminales] ([Id])
GO
ALTER TABLE [dbo].[Puerta_Abordaje] CHECK CONSTRAINT [FK_dbo.Puerta_Abordaje_dbo.Terminales_Terminales_Id]
GO
ALTER TABLE [dbo].[Terminales]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Terminales_dbo.Aeropuertoes_Aeropuerto_Id] FOREIGN KEY([Aeropuerto_Id])
REFERENCES [dbo].[Aeropuertoes] ([Id])
GO
ALTER TABLE [dbo].[Terminales] CHECK CONSTRAINT [FK_dbo.Terminales_dbo.Aeropuertoes_Aeropuerto_Id]
GO
ALTER TABLE [dbo].[Vueloes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Vueloes_dbo.Avions_Avion_AvionId] FOREIGN KEY([Avion_AvionId])
REFERENCES [dbo].[Avions] ([AvionId])
GO
ALTER TABLE [dbo].[Vueloes] CHECK CONSTRAINT [FK_dbo.Vueloes_dbo.Avions_Avion_AvionId]
GO
ALTER TABLE [dbo].[Vueloes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Vueloes_dbo.Pilotoes_Piloto_PilotoId] FOREIGN KEY([Piloto_PilotoId])
REFERENCES [dbo].[Pilotoes] ([PilotoId])
GO
ALTER TABLE [dbo].[Vueloes] CHECK CONSTRAINT [FK_dbo.Vueloes_dbo.Pilotoes_Piloto_PilotoId]
GO
ALTER TABLE [dbo].[Vueloes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Vueloes_dbo.Puerta_Abordaje_Puerta_Abordaje_Id] FOREIGN KEY([Puerta_Abordaje_Id])
REFERENCES [dbo].[Puerta_Abordaje] ([Id])
GO
ALTER TABLE [dbo].[Vueloes] CHECK CONSTRAINT [FK_dbo.Vueloes_dbo.Puerta_Abordaje_Puerta_Abordaje_Id]
GO
ALTER TABLE [dbo].[Vueloes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Vueloes_dbo.Tripulacions_Tripulacion_Id] FOREIGN KEY([Tripulacion_Id])
REFERENCES [dbo].[Tripulacions] ([Id])
GO
ALTER TABLE [dbo].[Vueloes] CHECK CONSTRAINT [FK_dbo.Vueloes_dbo.Tripulacions_Tripulacion_Id]
GO
