@{
    ViewData["Title"] = "Aeropuerto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="fh5co-wrapper">
    <div id="fh5co-page">
        <div class="container mt-5">
            <div class="text-white text-center p-4 rounded shadow"
                 style="width: 80%; margin: 0 auto; font-size: 2em; background-color: rgba(0, 0, 0, 0.5);">
                <h2 class="text-white">Aeropuerto</h2>
            </div>
        </div>
    </div>
</div>

@(Html.DevExtreme().DataGrid<AeropuertoDevExtremeP.Models.Aeropuerto>()
    .DataSource(ds => ds.WebApi()
        .Controller("Aeropuerto")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("aeropuertoId")
    )
    .RemoteOperations(true)
    .Columns(columns => {

        columns.AddFor(m => m.aeropuertoId);

        columns.AddFor(m => m.nombre);
    })
    .Editing(e => e
        .Mode(GridEditMode.Popup)
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
        .UseIcons(true)
        .StartEditAction(GridStartEditAction.DblClick)
    )
)
