@{
    ViewData["Title"] = "MetodoDePago";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MetodoDePago</h2>

@(Html.DevExtreme().DataGrid<AeropuertoDevExtremeP.Models.MetodoDePago>()
    .DataSource(ds => ds.WebApi()
        .Controller("MetodoDePago")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("metododepagoId")
    )
    .RemoteOperations(true)
    .Columns(columns => {

        columns.AddFor(m => m.metododepagoId);

        columns.AddFor(m => m.Metodo_Pago);
    })
    .Editing(e => e
        .Mode(GridEditMode.Popup)
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
        .UseIcons(true)
        .StartEditAction(GridStartEditAction.DblClick)
    )
)
