@{
    ViewData["Title"] = "Puerta_Abordaje";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="fh5co-wrapper">
    <div id="fh5co-page">
        <div class="container mt-5">
            <div class="text-white text-center p-4 rounded shadow"
                 style="width: 80%; margin: 0 auto; font-size: 2em; background-color: rgba(0, 0, 0, 0.5);">
                <h2 class="text-white">Puerta de Abordaje</h2>
            </div>
        </div>
    </div>
</div>

@(Html.DevExtreme().DataGrid<AeropuertoDevExtremeP.Models.Puerta_Abordaje>()
    .DataSource(ds => ds.WebApi()
        .Controller("Puerta_Abordaje")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("Puerta_AbordajeId")
    )
    .RemoteOperations(true)
    .Columns(columns => {

        columns.AddFor(m => m.Puerta_AbordajeId);

        columns.AddFor(m => m.Aerolinea);

        columns.AddFor(m => m.terminalesId).Lookup(lookup => lookup
            .DataSource(ds => ds.WebApi().Controller("Terminales").LoadAction("Get").Key("terminalesId"))
            .ValueExpr("terminalesId")
            .DisplayExpr("Nombre_Area")
        );
    })
    .Editing(e => e
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
    )
)
