@{
    ViewData["Title"] = "Vuelo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vuelo</h2>

@(Html.DevExtreme().DataGrid<AeropuertoDevExtremeP.Models.Vuelo>()
    .DataSource(ds => ds.WebApi()
        .Controller("Vuelo")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("vueloId")
    )
    .RemoteOperations(true)
    .Columns(columns => {

        columns.AddFor(m => m.vueloId);

        columns.AddFor(m => m.Fecha_salida);

        columns.AddFor(m => m.Fecha_Llegada);

        columns.AddFor(m => m.avionId).Lookup(lookup => lookup
            .DataSource(ds => ds.WebApi().Controller("Avion").LoadAction("Get").Key("avionId"))
            .ValueExpr("avionId")
            .DisplayExpr("Nombre")
        );

        columns.AddFor(m => m.puerto_abordajeId);

        columns.AddFor(m => m.pilotoId).Lookup(lookup => lookup
            .DataSource(ds => ds.WebApi().Controller("Piloto").LoadAction("Get").Key("pilotoId"))
            .ValueExpr("pilotoId")
            .DisplayExpr("Nombre")
        );

        columns.AddFor(m => m.Precio);
    })
    .Editing(e => e
        .Mode(GridEditMode.Popup)
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
        .UseIcons(true)
        .StartEditAction(GridStartEditAction.DblClick)
    )
)
