@{
    ViewData["Title"] = "Vuelo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="fh5co-wrapper">
    <div id="fh5co-page">
        <div class="container mt-5 mb-5">
            <div class="text-white text-center p-4 rounded shadow"
                 style="width: 80%; margin: 0 auto; font-size: 2em; background-color: rgba(0, 0, 0, 0.5);">
                <h2 class="text-white">Vuelo</h2>
            </div>
        </div>
    </div>
</div>


<div style="width: 100%; margin: 0 auto;">
    @(Html.DevExtreme().DataGrid<AeropuertoDevExtremeP.Models.Vuelo>()
    .DataSource(ds => ds.WebApi()
        .Controller("Vuelo")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("vueloId")
    )
    .RemoteOperations(true)
    .Paging(p => p.PageSize(10))
    .HeaderFilter(f => f.Visible(true))
    .Columns(columns => {

        columns.AddFor(m => m.vueloId).Alignment(HorizontalAlignment.Right);

        columns.AddFor(m => m.Fecha_salida).Alignment(HorizontalAlignment.Center);

        columns.AddFor(m => m.Fecha_Llegada).Alignment(HorizontalAlignment.Center);

        columns.AddFor(m => m.avionId).Alignment(HorizontalAlignment.Center).Lookup(lookup => lookup
            .DataSource(ds => ds.WebApi().Controller("Avion").LoadAction("Get").Key("avionId"))
            .ValueExpr("avionId")
            .DisplayExpr("Nombre")
        );

        columns.AddFor(m => m.Puerta_AbordajeId).Alignment(HorizontalAlignment.Center).Lookup(lookup => lookup
            .DataSource(ds => ds.WebApi().Controller("Puerta_Abordaje").LoadAction("Get").Key("Puerta_AbordajeId"))
            .ValueExpr("Puerta_AbordajeId")
            .DisplayExpr("Aerolinea")
        );

        columns.AddFor(m => m.Precio).Alignment(HorizontalAlignment.Center);
    })
    .Editing(e => e
        .Mode(GridEditMode.Popup)
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
        .UseIcons(true)
        .StartEditAction(GridStartEditAction.DblClick)
    )
    .Summary(s => s
    .TotalItems(totalItems =>
    {
        totalItems.AddFor(m => m.vueloId)
            .SummaryType(SummaryType.Count)
            .Alignment(HorizontalAlignment.Left);
    })
    .GroupItems(groupItems =>
    {
        groupItems.Add().SummaryType(SummaryType.Count);
    })
)
)
</div>